* {
  padding: 0;
  margin: 0;
}
body {
  background: #fcedca;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 560px;
  height: 560px;
}

[data-square=""] {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-square=""].light {
  background-color: #ffce9e;
}
[data-square=""].dark {
  background-color: #d18b47;
}

[data-piece=""] {
  position: absolute;
}
[data-piece-animate="true"] {
  transition: all 0.4s ease-in-out;
}

[data-piece=""] > img {
  height: 65px;
  width: auto;
}
